@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 83% 96%;
    --foreground: 208 68% 10%;
    --card: 0 0% 100%;
    --card-foreground: 208 68% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 68% 10%;
    --primary: 209 58% 35%;
    --primary-foreground: 215 78% 90%;
    --secondary: 215 78% 90%;
    --secondary-foreground: 209 58% 35%;
    --muted: 215 78% 90%;
    --muted-foreground: 209 64% 25%;
    --accent: 213 76% 81%;
    --accent-foreground: 209 58% 35%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 210 40% 98%;
    --warning: 38 92% 50%;
    --warning-foreground: 48 95% 10%;
    --border: 213 76% 81%;
    --input: 213 76% 81%;
    --ring: 209 58% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 213 82% 5%;
    --foreground: 215 78% 90%;
    --card: 208 68% 10%;
    --card-foreground: 215 78% 90%;
    --popover: 208 68% 10%;
    --popover-foreground: 215 78% 90%;
    --primary: 208 78% 62%;
    --primary-foreground: 208 68% 10%;
    --secondary: 210 65% 17%;
    --secondary-foreground: 215 78% 90%;
    --muted: 210 65% 17%;
    --muted-foreground: 209 79% 72%;
    --accent: 209 64% 25%;
    --accent-foreground: 215 78% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --success: 142.1 70.6% 45.3%;
    --success-foreground: 210 40% 98%;
    --warning: 38 92% 50%;
    --warning-foreground: 48 95% 10%;
    --border: 210 65% 17%;
    --input: 210 65% 17%;
    --ring: 208 78% 62%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
